
.map-container {
  position: relative;
  margin: auto; /* Центрировать горизонтально// с отступом сверху/снизу */
  /*width: 1100px; /* занимает всю доступную ширину */
  /*padding: 10px; /* Внутренние отступы, если нужны */
  height: 780px; /* или любую нужную высоту */
  margin-top: 30px;
  /*margin-left: 150px;*/
  /* Можно задать любые параметры для позиционирования */
  /*max-width: 1100px; /* Ограничить ширину контейнера */
  /* Например, чтобы сдвинуть вниз или влево/вправо, используйте: */
  /* Или абсолютное позиционирование: */
  /* position: relative; */
  /* top: 50px; */
  /* left: 20px; */
  /*width: 100%; /* Занимать всю доступную ширину */
  border: 2px solid #333; /* Тонкая граница с темным цветом */
  box-sizing: border-box; /* Включить границы и паддинги в ширину */
}