/* src/App.css */

.app {
  display: flex;
  flex-direction: column;
  height: 100%;; /* занимает всю высоту экрана */
  width: 100%; /* ширина по всей странице */
  
}

.content {
  display: flex;
  flex: 1; /* занимает всё доступное пространство внутри .app */
  gap: 20px; /* промежутки между элементами */
  overflow: hidden; /* чтобы содержимое не выходило за границы */
}